.orange-content-block {
  margin-bottom: 16px;

  h3 {
    line-height: 24px;
    background: #FFCC99;
    color: $myspace-orange;
    font-size: 12px;
    font-weight: 700;
    padding-left: 8px;
    margin-bottom: 16px;
  }
}